node_modules
chart
.next
yarn.lock
package-lock.json
public
.yarn
.yarnrc
lib
.pnp.cjs
.pnp.loader.mjs
# generated code
# **/types/generated/**
# **/model/generated/**
**/db/migrations/*.js
# temporary app with errors
apps/balances-client
