version: "3"

services:
  db:
    image: postgres:14
    environment:
      POSTGRES_DB: avn-balances
      POSTGRES_PASSWORD: avn-balances
    ports:
      - "${DB_PORT}:5432"
      # command: ["postgres", "-c", "log_statement=all"]
