version: '3'

volumes:
  db-data:
  # pgadmin-data:

services:
  db:
    image: postgres:14
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_PASSWORD: ${DB_PASS}
    volumes:
      - db-data:/var/lib/postgresql/data
    ports:
      - '${DB_PORT}:5432'
      # command: ["postgres", "-c", "log_statement=all"]
    networks:
      - account_monitor

  # PG Admin is optional.
  # pgadmin:
  #   container_name: pgadmin_container_2
  #   image: dpage/pgadmin4
  #   environment:
  #     PGADMIN_DEFAULT_EMAIL: pgadmin4@pgadmin.org
  #     PGADMIN_DEFAULT_PASSWORD: admin
  #     PGADMIN_CONFIG_SERVER_MODE: 'False'
  #   volumes:
  #      - pgadmin-data:/var/lib/pgadmin
  #   ports:
  #     - "5544:80"
  #   restart: unless-stopped
  #   networks:
  #     - account_monitor

networks:
  account_monitor:
