version: '3'

volumes:
  db-data:
  # pgadmin-data:

services:
  db:
    image: postgres:14
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_PASSWORD: ${DB_PASS}
    volumes:
      - db-data:/var/lib/postgresql/data
    ports:
      - '${DB_PORT}:5432'
      # command: ["postgres", "-c", "log_statement=all"]
    networks:
      - balances

networks:
  balances:
