# Database configuration
DB_NAME=alerts
DB_PASS=postgres
DB_USER=postgres
DB_PORT=5432
DB_HOST=localhost
GQL_PORT=4351

# Chain configuration
ARCHIVE_GATEWAY_URL=https://archive-gateway.dev.aventus.network/graphql
CHAIN_URL=wss://avn-parachain-internal.dev.aventus.network

# Alerts Configuration (separate env vars for each section)
ALERTS_BALANCES='[{"accountAddress":"5GR39XQv4pAMyJHh9qUUi21cnMqgGD4RYidbJLv8D5fTB7Zh","prometheusTags":"environment=dev,network=aventus,account_type=anchoring,priority=critical","warningThreshold":"1000000000000000000","dangerThreshold":"500000000000000000"},{"accountAddress":"5Cf1MLM11BUNXiGyzeo5fAKZTCEPvheWTkRHFw5Hy7AW1naY","prometheusTags":"environment=dev,network=aventus,account_type=anchoring,priority=critical","warningThreshold":"1000000000000000000","dangerThreshold":"500000000000000000"},{"accountAddress":"5EcAFwVcBo8s2D3ZSTnx2sq49wVDF3rc1yGJMx5nRp2GsK62","prometheusTags":"environment=dev,network=aventus,account_type=gateway_relayer,priority=high","warningThreshold":"5000000000000000000","dangerThreshold":"2000000000000000000"}]'

ALERTS_EVENTS='[{"eventName":"Summary.RootPassedValidation","prometheusTags":"environment=dev,network=aventus,type=info","includeMetadata":true},{"eventName":"ValidatorsManager.ValidatorRegistered","prometheusTags":"environment=dev,network=aventus,type=info","includeMetadata":true},{"eventName":"ValidatorsManager.ValidatorDeregistered","prometheusTags":"environment=dev,network=aventus,type=info","includeMetadata":true},{"eventName":"TokenManager.FailedToGenerateLowerProof","prometheusTags":"environment=dev,network=aventus,type=info","includeMetadata":true}]'

ALERTS_QUEUES='[{"queueName":"EthBridge.RequestQueue","prometheusTags":"environment=dev,network=aventus,type=bridge","warningThreshold":"10","errorThreshold":"50"}]'
