name: Build Account Monitor

on:
  workflow_dispatch:
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]
    branches:
      - main
    paths:
      - 'apps/account-monitor/**'
      - 'packages/types/**'
      - 'packages/config/**'
      - 'packages/utils/**'
      - 'packages/metadata/**'
  push:
    branches:
      - main
    paths:
      - 'apps/account-monitor/**'
      - 'packages/types/**'
      - 'packages/config/**'
      - 'packages/utils/**'
      - 'packages/metadata/**'

jobs:
  avn-docker-build:
    name: AvN Explorer Account Monitor
    uses: ./.github/workflows/docker-build.yml
    with:
      runner: avn-runner-ubuntu-2404-x64
      short_image_name: account-monitor
      ecr_repository_prefix: explorer
      aws_region: eu-west-1
      aws_account_id: 931945598683
      dockerfile: apps/account-monitor/Dockerfile

  ew-docker-build:
    name: EW Explorer Account Monitor
    if: ${{ github.event_name == 'workflow_dispatch' && github.ref_name == 'main' }}
    uses: ./.github/workflows/docker-build.yml
    with:
      runner: avn-runner-ubuntu-2204-x64
      config_creds: false
      short_image_name: account-monitor
      ecr_repository_prefix: explorer
      aws_region: us-east-1
      aws_account_id: 541507968610
      dockerfile: apps/account-monitor/Dockerfile
