name: Build Search Server

on:
  workflow_dispatch:
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]
    branches:
      - main
    paths:
      - 'apps/search-server/**'
      - 'packages/types/**'
      - 'packages/config/**'
      - 'packages/utils/**'
  push:
    branches:
      - main
    paths:
      - 'apps/search-server/**'
      - 'packages/types/**'
      - 'packages/config/**'
      - 'packages/utils/**'

jobs:
  avn-docker-build:
    name: AvN Explorer Search Server
    uses: Aventus-Network-Services/shared-workflows/.github/workflows/docker-build.yaml@v5.10.0
    with:
      aws_region: eu-west-1
      aws_account_id: 931945598683
      docker_file_path: apps/search-server/Dockerfile
      ecr_repository_name: explorer/search-server
      default_branch: main
      create_pr_dtag: ${{ startsWith(github.ref, 'refs/pull/') }}
      create_latest_dtag: ${{ github.ref == 'refs/heads/main' }}
      create_commit_hash_dtag: true
      create_git_ref_dtag: ${{ startsWith(github.ref, 'refs/tags/') }}
    secrets: inherit

  ew-docker-build:
    name: EW Explorer Search Server
    if: ${{ github.event_name == 'workflow_dispatch' && github.ref_name == 'main' }}
    uses: Aventus-Network-Services/shared-workflows/.github/workflows/docker-build.yaml@v5.10.0
    with:
      config_creds: false
      aws_region: us-east-1
      aws_account_id: 541507968610
      docker_file_path: apps/search-server/Dockerfile
      ecr_repository_name: explorer/search-server
      default_branch: main
      create_pr_dtag: ${{ startsWith(github.ref, 'refs/pull/') }}
      create_latest_dtag: ${{ github.ref == 'refs/heads/main' }}
      create_commit_hash_dtag: true
      create_git_ref_dtag: ${{ startsWith(github.ref, 'refs/tags/') }}
    secrets: inherit
