name: Build Errors

on:
  workflow_dispatch:
  pull_request_target:
    types: [opened, synchronize, reopened, ready_for_review]
    branches:
      - main
    paths:
      - 'apps/errors/**'
      - 'packages/types/**'
      - 'packages/config/**'
      - 'packages/utils/**'
      - 'packages/metadata/**'
  push:
    branches:
      - main
    paths:
      - 'apps/errors/**'
      - 'packages/types/**'
      - 'packages/config/**'
      - 'packages/utils/**'
      - 'packages/metadata/**'

jobs:
  docker-build:
    name: Explorer Errors
    uses: Aventus-Network-Services/shared-workflows/.github/workflows/docker-build.yaml@v5.17.0
    with:
      ecr_registry_type: public
      aws_region: us-east-1
      aws_account_id: 931945598683
      docker_file_path: apps/errors/Dockerfile
      ecr_repository_name: explorer/errors
      default_branch: main
      create_pr_dtag: ${{ startsWith(github.ref, 'refs/pull/') }}
      create_latest_dtag: ${{ github.ref == 'refs/heads/main' }}
      create_commit_hash_dtag: true
      create_git_ref_dtag: ${{ startsWith(github.ref, 'refs/tags/') }}
    secrets: inherit
