name: Build Errors

on:
  workflow_dispatch:
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]
    branches:
      - main
    paths:
      - 'apps/errors/**'
      - 'packages/types/**'
      - 'packages/config/**'
      - 'packages/utils/**'
      - 'packages/metadata/**'
  push:
    branches:
      - main
    paths:
      - 'apps/errors/**'
      - 'packages/types/**'
      - 'packages/config/**'
      - 'packages/utils/**'
      - 'packages/metadata/**'

jobs:
  avn-docker-build:
    name: AvN Explorer Errors
    uses: ./.github/workflows/docker-build.yml
    with:
      runner: avn-runner-ubuntu-2404-x64
      short_image_name: errors
      ecr_repository_prefix: explorer
      aws_region: eu-west-1
      aws_account_id: 931945598683
      dockerfile: apps/errors/Dockerfile
