name: Check Search app

on:
  pull_request_target:
    branches: [main]
    paths:
      - 'apps/search/**'
      # check if one of the used packages is changed
      - 'packages/types/**'
      - 'packages/config/**'
      - 'packages/utils/**'

defaults:
  run:
    working-directory: apps/search

jobs:
  check_search_app:
    name: Check Search App
    uses: Aventus-Network-Services/shared-workflows/.github/workflows/check-yarn-application.yml@v5.12.0
    with:
      working_directory: apps/search
      build_command: |
        yarn workspace @avn/types run build
        yarn workspace @avn/config run build
        yarn workspace @avn/utils run build
