version: '3'

services:
  ingest:
    restart: on-failure
    image: subsquid/substrate-ingest:firesquid
    volumes:
      - ./../../packages/metadata/avn-types.json:/app/avn-types.json
    command:
      [
        '-e',
        '${AVN_NODE}',
        '-c',
        '10',
        '--out',
        'postgres://${DB_USER}:${DB_PASS}@database:${DB_PORT}/${DB_NAME}',
        '--types-bundle',
        '/app/avn-types.json',
        '--start-block',
        '4695107'
      ]
    networks:
      - avn-archive

  gateway:
    image: subsquid/substrate-gateway:firesquid
    environment:
      DATABASE_MAX_CONNECTIONS: ${DATABASE_MAX_CONNECTIONS}
      DATABASE_STATEMENT_TIMEOUT: ${DATABASE_STATEMENT_TIMEOUT}
      RUST_LOG: 'actix_web=info,actix_server=info'
    command:
      [
        '--database-url',
        'postgres://${DB_USER}:${DB_PASS}@database:${DB_PORT}/${DB_NAME}',
        '--database-max-connections',
        '20',
        '--database-statement-timeout',
        '30000',
        '--scan-max-value',
        '100000'
      ]
    ports:
      - '${GATEWAY_PORT}:8000'
    networks:
      - avn-archive

  explorer:
    image: subsquid/substrate-explorer:firesquid
    environment:
      DB_TYPE: postgres
      DB_HOST: database
      DB_PORT: ${DB_PORT}
      DB_NAME: ${DB_NAME}
      DB_USER: ${DB_USER}
      DB_PASS: ${DB_PASS}
      GQL_DB_STATEMENT_TIMEOUT_MS: 5000
      GQL_MAX_ROOT_FIELDS: 10
    ports:
      - '${EXPLORER_PORT}:3000'
    networks:
      - avn-archive

networks:
  avn-archive:
    name: avn-archive-net # Use the same network name as in the first file
    external: true # This tells Docker this network is created elsewhere
